<div class = "Home" id="home">
<p style="font-size:30px" align = "left">Welcome to my porfolio My name is Haroon Jemal! Please click on the item on the navigation bar to learn more about me!
</p>
</div>