<div class = "Projects" id="projects">
<h2 align = "center">Projects Created by me </h2> 
<p align = "center"   font-size: 40px>These are python projects created by me in my first year </p>  
<li align = "left"> <a href="https://github.com/JustHeroic/Decimal-Converter">Decimal-Converter</a> - a program that comverts hexidecimal to binary and vie veras</li> 
<li align = "left"> <a href="https://github.com/JustHeroic/TaskManager">TaskManager</a> - a To Do list program for your everyday needs!</li> 
<li align = "left"> <a href="https://github.com/JustHeroic/OPPLab1">Income information</a> - a program that can tell you the nesscary income info based on what data you give it!</li> 
<li align = "left"> <a href="https://github.com/JustHeroic/Lab-9-inputfile">TXTWriter</a> -a program that writes txts for you!</li> 
<li align = "left"> <a href="https://github.com/JustHeroic/InformationCollector">InfoConvertor</a> - a program that can do simple conversion and stores them for you</li> 
</div>